@charset "UTF-8";
header {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  background-color: #8D509B;
  z-index: 10;
}
header .wrapper-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 11px 22px 12px 18px;
}
header .wrapper-header .navigation {
  display: flex;
}
header .wrapper-header .navigation ul {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  gap: 24px;
  color: #fff;
}
header .wrapper-header .navigation ul li {
  cursor: pointer;
  font-family: "CeraPro-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
}

.main-p {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: 1020px;
  background-color: #823F91;
}
.main-p .text-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "CeraPro-Bold";
  font-weight: 700;
  z-index: 10;
}
.main-p .text-container h1 {
  width: 100%;
  max-width: 1150px;
  color: #fff;
  font-weight: 700;
  font-size: 90px;
  line-height: 110%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-top: 24px;
}
.main-p .text-container p {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.main-p .text-container .btn {
  font-family: "CeraPro-Medium";
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 2%;
  text-transform: uppercase;
  background-color: #fff;
  border: 0;
  border-radius: 100px;
  margin-top: 6px;
  padding: 10px 26px;
}
.main-p .wrapper-absolute-img {
  position: absolute;
  display: flex;
  align-self: center;
  width: 100%;
  height: 100%;
  max-height: 726.6px;
  max-width: 1715.06px;
  z-index: 4;
}
.main-p .absolute-img-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  will-change: transform;
  transition: transform 0.1s ease-out;
}
.main-p .absolute-img-container .icon {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}
.main-p .absolute-img-container .icon img {
  max-width: 100%;
}
.main-p .absolute-img-container .icon1 {
  max-height: 290px;
  max-width: 290px;
  top: 1%;
  left: 16.63%;
  transform: rotate(-5deg);
}
.main-p .absolute-img-container .icon2 {
  max-height: 200px;
  max-width: 200px;
  top: 10.98%;
  right: 24.86%;
  transform: rotate(-5deg);
}
.main-p .absolute-img-container .icon3 {
  max-width: 276.5px;
  max-height: 170px;
  top: 0;
  right: 0;
  transform: rotate(5deg);
  overflow: hidden;
}
.main-p .absolute-img-container .icon3 img {
  width: 100%;
}
.main-p .absolute-img-container .icon4 {
  max-width: 275.27px;
  max-height: 275.27px;
  bottom: 0;
  left: 0;
  transform: rotate(5deg);
}
.main-p .absolute-img-container .icon5 {
  max-width: 330px;
  max-height: 210px;
  left: 31.2%;
  bottom: 15.9%;
  transform: rotate(-5deg);
  padding-bottom: 79px;
}
.main-p .absolute-img-container .icon6 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 290px !important;
  max-height: 290px !important;
  right: 9%;
  bottom: 5%;
  transform: rotate(5deg);
}
.main-p .absolute-img-container .icon6 img {
  width: auto;
  height: 100%;
  max-width: none;
}
.main-p .line {
  position: absolute;
  min-width: 100%;
  overflow: hidden;
  left: 0;
  bottom: 13.2%;
  z-index: 1;
}
.main-p .line svg {
  min-width: 100%;
  height: auto;
}
.main-p .line2 {
  display: none;
  z-index: 1;
}
.main-p .marquee-wrapper {
  display: flex;
  align-items: end;
}

.draw-line {
  stroke-dasharray: 4000;
  stroke-dashoffset: 4000;
  stroke: #9d59aa;
  animation: drawCycle 12s ease-in-out infinite;
  filter: blur(1px);
}

@keyframes drawCycle {
  0% {
    stroke-dashoffset: 4000;
    stroke: #9d59aa;
    opacity: 1;
  }
  40% {
    stroke-dashoffset: 0;
    stroke: #9d59aa;
    opacity: 1;
  }
  70% {
    stroke: white;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: white;
    opacity: 0;
  }
}
@media (max-width: 1900px) {
  .main-p .wrapper-absolute-img {
    padding: 0 7px;
  }
}
@media (max-width: 1746px) {
  .main-p .line1 {
    display: none;
  }
  .main-p .line2 {
    display: block;
  }
}
@media (max-width: 1440px) {
  .main-p .line2 {
    bottom: 23.2%;
  }
  .main-p .wrapper-absolute-img .absolute-img-container .icon1 {
    width: 210px;
    height: 210px;
    top: 12.5%;
    left: 9.7%;
  }
  .main-p .wrapper-absolute-img .absolute-img-container .icon2 {
    width: 130px;
    height: 130px;
    top: 24%;
    right: 27.6%;
  }
  .main-p .wrapper-absolute-img .absolute-img-container .icon3 {
    width: 250px;
    height: 150px;
    top: 9%;
    right: 0.5%;
  }
  .main-p .wrapper-absolute-img .absolute-img-container .icon4 {
    width: 130px;
    height: 130px;
    bottom: 14%;
    left: 1%;
  }
  .main-p .wrapper-absolute-img .absolute-img-container .icon5 {
    width: 250px;
    height: 150px;
    left: 29.9%;
    bottom: 22.5%;
  }
  .main-p .wrapper-absolute-img .absolute-img-container .icon6 {
    width: 210px;
    height: 210px;
    bottom: 14%;
  }
}
.marquee-wrapper {
  width: 100%;
  overflow: hidden;
  background-color: #F2E1F0;
  padding: 19px 0;
  box-sizing: border-box;
}

.marquee {
  display: flex;
  white-space: nowrap;
  will-change: transform;
}

.text-block {
  color: #823F91;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.dot::before {
  content: "•";
  margin: 0 1.13rem;
  color: #823F91;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.title {
  display: flex;
  align-self: center;
  width: 100%;
  max-width: 817.5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
}
.title .sub {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #823F91;
  margin-bottom: 8px;
}
.title h2 {
  font-weight: 500;
  font-size: 50px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  color: #000;
}
.title .sub-title {
  font-family: "CeraPro-Regular";
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  max-width: 510px;
  margin-top: 16px;
  color: #000;
}

.block1 {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.block1 .wrapper-con {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 24px;
}
.block1 .wrapper-con .container1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  max-width: 690px;
  min-height: 710px;
  border-radius: 22px;
  background-color: #823F91;
  padding: 50px 29px 50px;
  overflow: hidden;
}
.block1 .wrapper-con .container1 .circle-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.block1 .wrapper-con .container1 .circle-wrapper .abs-circle {
  cursor: default;
  position: absolute;
  display: flex;
  text-align: center;
  max-width: fit-content;
  border-radius: 100%;
  background: linear-gradient(139.22deg, rgba(255, 255, 255, 0.2) 18.5%, rgba(255, 255, 255, 0.1) 86.68%);
  backdrop-filter: blur(11px);
  -webkit-backdrop-backdrop-filter: blur(11px);
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  color: #fff;
  transition: 1s ease;
}
.block1 .wrapper-con .container1 .circle-wrapper .abs-circle:hover {
  scale: 1.1;
  transition: 1s ease;
}
.block1 .wrapper-con .container1 .circle-wrapper .abs-circle .container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.block1 .wrapper-con .container1 .circle-wrapper .abs-circle .container .more {
  font-family: "CeraPro-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-left: 0;
}
.block1 .wrapper-con .container1 .circle-wrapper .abs-circle .container .counter {
  font-family: "CeraPro-Bold";
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-left: 0;
}
.block1 .wrapper-con .container1 .circle-wrapper .abs-circle .container .text {
  font-family: "CeraPro-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  margin-left: 0;
}
.block1 .wrapper-con .container1 .circle-wrapper .circle1 {
  top: 17px;
  right: 269px;
  padding: 49px 28px;
}
.block1 .wrapper-con .container1 .circle-wrapper .circle1 .container {
  max-width: 164px;
}
.block1 .wrapper-con .container1 .circle-wrapper .circle2 {
  top: 0;
  right: 0;
  padding: 57px 32.58px;
}
.block1 .wrapper-con .container1 .circle-wrapper .circle2 .container {
  max-width: 190px;
}
.block1 .wrapper-con .container1 .circle-wrapper .circle3 {
  left: 0;
  bottom: 59px;
  padding: 77px 56px;
}
.block1 .wrapper-con .container1 .circle-wrapper .circle3 .container {
  max-width: 164px;
}
.block1 .wrapper-con .container1 .circle-wrapper .circle4, .block1 .wrapper-con .container1 .circle-wrapper .circle6 {
  padding: 30px 39px;
}
.block1 .wrapper-con .container1 .circle-wrapper .circle4 .container, .block1 .wrapper-con .container1 .circle-wrapper .circle6 .container {
  min-width: 82px;
}
.block1 .wrapper-con .container1 .circle-wrapper .circle4 {
  top: 228px;
  right: 186px;
}
.block1 .wrapper-con .container1 .circle-wrapper .circle5 {
  top: 259px;
  right: 0;
  padding: 33px 36px;
}
.block1 .wrapper-con .container1 .circle-wrapper .circle5 .container {
  max-width: 103px;
}
.block1 .wrapper-con .container1 .circle-wrapper .circle6 {
  bottom: 0;
  right: 135px;
}
.block1 .wrapper-con .container1 .bg-img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.block1 .wrapper-con .container1 p {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0;
  color: #fff;
  margin-left: 31px;
}
.block1 .wrapper-con .container2 {
  display: flex;
  width: 100%;
  max-width: 690px;
  min-height: 710px;
  max-height: 710px;
  border-radius: 22px;
  background-color: #F9F0F8;
  padding: 62px 60px 61px;
}
.block1 .wrapper-con .container2 .wrapper-con2 {
  display: grid;
  grid-template-columns: 1fr 329px;
  grid-template-rows: auto;
  grid-template-areas: "text1 text1" "photo text2";
  flex-direction: column;
  justify-content: space-between;
}
.block1 .wrapper-con .container2 .wrapper-con2 .text-wrapper {
  grid-area: text1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.block1 .wrapper-con .container2 .wrapper-con2 .text-wrapper .top {
  color: #823F91;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0;
  text-transform: uppercase;
}
.block1 .wrapper-con .container2 .wrapper-con2 .text-wrapper .bold-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0;
  color: #000;
}
.block1 .wrapper-con .container2 .wrapper-con2 .photo {
  grid-area: photo;
  display: flex;
  align-self: end;
  margin-right: 24px;
}
.block1 .wrapper-con .container2 .wrapper-con2 .photo .img-con {
  display: flex;
  justify-content: center;
  max-width: 216px;
  max-height: 281px;
  border-radius: 16px;
  overflow: hidden;
}
.block1 .wrapper-con .container2 .wrapper-con2 .photo .img-con img {
  height: 100% !important;
}
.block1 .wrapper-con .container2 .wrapper-con2 .text-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  grid-area: text2;
}
.block1 .wrapper-con .container2 .wrapper-con2 .text-container .text {
  margin-bottom: 16px;
}
.block1 .wrapper-con .container2 .wrapper-con2 .text-container .bold-text-italic {
  font-weight: 500;
  font-style: italic;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0%;
}

.block2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: 871px;
  min-height: 871px;
  margin: 92px 0 72px 0;
}
.block2 .absolute-bg {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 200%;
  height: 100%;
  max-height: 498px;
  filter: blur(12px);
  z-index: 9;
}
.block2 .absolute-bg .bg2 {
  width: 100%;
  height: 50%;
  background: #F9F0F8;
  background: -webkit-linear-gradient(0deg, rgba(249, 240, 248, 0.55) 0%, rgb(249, 240, 248) 7%);
  background: -moz-linear-gradient(0deg, rgba(249, 240, 248, 0.55) 0%, rgb(249, 240, 248) 7%);
  background: linear-gradient(0deg, rgba(249, 240, 248, 0.55) 0%, rgb(249, 240, 248) 7%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F9F0F8", endColorstr="#F9F0F8", GradientType=0);
}
.block2 .absolute-bg .bg1 {
  width: 100%;
  height: 50%;
  background: #F9F0F8;
  background: -webkit-linear-gradient(180deg, rgba(249, 240, 248, 0.55) 0%, rgb(249, 240, 248) 7%);
  background: -moz-linear-gradient(180deg, rgba(249, 240, 248, 0.55) 0%, rgb(249, 240, 248) 7%);
  background: linear-gradient(180deg, rgba(249, 240, 248, 0.55) 0%, rgb(249, 240, 248) 7%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F9F0F8", endColorstr="#F9F0F8", GradientType=0);
}
.block2 .wrapper-img {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1576px;
  height: 100%;
  min-height: 820px;
  z-index: 10;
}
.block2 .wrapper-img .img-icon {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: 1px solid #fff;
  overflow: hidden;
}
.block2 .wrapper-img .img-icon img {
  width: 100%;
  max-width: 100%;
}
.block2 .wrapper-img .icon1 {
  max-width: 345px;
  max-height: 398px;
  left: -6%;
  z-index: 2;
}
.block2 .wrapper-img .icon2 {
  max-width: 285.5px;
  max-height: 328.8px;
  left: 16%;
  top: 4%;
  z-index: 3;
}
.block2 .wrapper-img .icon3 {
  max-width: 158.7px;
  max-height: 181.4px;
  bottom: 9.5%;
  left: 16%;
  z-index: 3;
}
.block2 .wrapper-img .icon4 {
  max-width: 532.89px;
  max-height: 607.7px;
  z-index: 2;
}
.block2 .wrapper-img .icon5 {
  max-width: 283.45px;
  max-height: 328.81px;
  bottom: 1%;
  right: 15%;
  z-index: 3;
}
.block2 .wrapper-img .icon6 {
  max-width: 158.7px;
  max-height: 181.4px;
  top: 9.5%;
  right: 16%;
  z-index: 3;
}
.block2 .wrapper-img .icon7 {
  max-width: 345px;
  max-height: 398px;
  right: -6%;
  z-index: 2;
}
.block2 .wrapper-img .icon8 {
  max-width: 169px;
  max-height: 173px;
  left: 6.5%;
  top: 9%;
  z-index: 5;
  border: 0;
}
.block2 .wrapper-img .icon9 {
  max-width: 208px;
  max-height: 195px;
  right: 14.7%;
  bottom: 31%;
  z-index: 5;
  border: 0;
}

@media (max-width: 1900px) {
  .block2 .wrapper-img .icon1 {
    left: calc((1440px - 100vw) / 8);
  }
  .block2 .wrapper-img .icon2 {
    max-width: clamp(252px, 17vw, 285.5px);
    max-height: clamp(290px, 20vw, 328.8px);
    transition: left 0.3s linear, top 0.3s linear;
  }
  .block2 .wrapper-img .icon3, .block2 .wrapper-img .icon6 {
    max-width: clamp(140px, 9.7vw, 158.7px);
    max-height: clamp(160px, 11vw, 181.4px);
    transition: left 0.3s linear, top 0.3s linear;
  }
  .block2 .wrapper-img .icon3 {
    padding-bottom: 46px;
  }
  .block2 .wrapper-img .icon4 {
    max-width: clamp(470px, 32vw, 532.89px);
    max-height: clamp(536px, 37vw, 607.7px);
    transition: left 0.3s linear, top 0.3s linear;
  }
  .block2 .wrapper-img .icon5 {
    max-width: clamp(250px, 17vw, 283.45px);
    max-height: clamp(290px, 20vw, 328.81px);
    transition: left 0.3s linear, top 0.3s linear;
  }
  .block2 .wrapper-img .icon7 {
    right: calc((1440px - 100vw) / 8);
  }
  .block2 .wrapper-img .icon1, .block2 .wrapper-img .icon7 {
    width: clamp(305px, 21vw, 345px);
    height: clamp(351px, 22vw, 398px);
  }
  .block2 .wrapper-img .icon8 {
    width: clamp(149.79px, 10vw, 169px);
    height: clamp(152.64px, 10vw, 173px);
  }
  .block2 .wrapper-img .icon9 {
    width: clamp(183.7px, 10vw, 208px);
    height: clamp(172.1px, 10vw, 195px);
  }
}
@media (max-width: 1440px) {
  .block2 .wrapper-img .icon7 {
    right: 0;
  }
  .block2 .wrapper-img .icon1 {
    left: 0;
  }
}
.block3 {
  display: flex;
  flex-direction: column;
  margin-top: 47px;
  align-items: center;
}
.block3 .title {
  margin-bottom: 40px;
}
.block3 .wrapper-card {
  display: grid;
  grid-template-columns: repeat(4, 333px);
  gap: 24px;
}

.card {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 333px;
  max-height: 333px;
  max-width: 333px;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(249, 240, 248);
  border-radius: 22px;
  padding: 32px;
}
.card.wide {
  grid-column: span 2;
  max-width: 689px;
}
.card.wide .text {
  max-width: 516px;
}
.card .title-card {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0;
  color: rgb(130, 63, 145);
}
.card .text {
  font-family: "CeraPro-Regular";
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0;
  color: rgb(0, 0, 0);
}

.block4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 99.5px 0 60.5px 0;
}
.block4 .title {
  justify-self: center;
}
.block4 .title h2 {
  max-width: 821px;
}
.block4 .title .btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 2%;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 26px;
  border: 0;
  background-color: #823F91;
  border-radius: 100px;
  margin-top: 16px;
}
.block4 .wrapper-prtners {
  display: flex;
  background-color: #823F91;
  border-radius: 22px;
  padding: 60px;
  justify-content: space-between;
  color: #fff;
}
.block4 .wrapper-prtners .left-panel {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 593px;
  height: 100%;
  box-sizing: border-box;
}
.block4 .wrapper-prtners .left-panel .img-container {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 519px;
  max-height: 508px;
  margin-left: 37px;
  margin-bottom: 63px;
  z-index: 10;
}
.block4 .wrapper-prtners .left-panel .img-container .img-wrap {
  display: flex;
  align-items: start;
  align-self: start;
  justify-content: start;
  width: 100%;
  max-width: 367px;
  height: 100%;
  max-height: 508px;
  border-radius: 22px;
  overflow: hidden;
}
.block4 .wrapper-prtners .left-panel .img-container .img-wrap img {
  width: 100%;
  overflow: hidden;
}
.block4 .wrapper-prtners .left-panel .img-container .img-wrap2 {
  position: absolute;
  align-items: center;
  right: 0;
  bottom: 32px;
  max-width: 217px;
  max-height: 246px;
}
.block4 .wrapper-prtners .left-panel .img-container .heart-mini {
  position: absolute;
  right: 22.65%;
  top: 26%;
}
.block4 .wrapper-prtners .left-panel .img-container .heart-mini2 {
  left: -16%;
  bottom: -10.26%;
  right: auto;
  top: auto;
}
.block4 .wrapper-prtners .left-panel .text {
  max-width: 470px;
  color: #fff;
  font-family: "CeraPro-Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  z-index: 10;
}
.block4 .wrapper-prtners .left-panel .bg-heart {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0%;
  top: -11%;
  z-index: 5;
}
.block4 .wrapper-prtners .left-panel .bg-heart img {
  width: 100%;
}
.block4 .wrapper-prtners .left-panel .bg-heart2 {
  transform: rotate(-35.41deg);
  left: -28%;
  right: auto;
  top: 58%;
}
.block4 .wrapper-prtners .right-panel {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 584px;
  flex-direction: column;
  align-items: start;
  overflow: visible;
}
.block4 .wrapper-prtners .right-panel h2 {
  max-width: 481px;
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0;
}
.block4 .wrapper-prtners .right-panel .colmn-container {
  display: flex;
  gap: 30px;
  padding: 18px 0;
  margin-top: 60px;
}
.block4 .wrapper-prtners .right-panel .colmn-container .colmn {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.block4 .wrapper-prtners .right-panel .colmn-container .colmn .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 277px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2196078431);
  align-items: start;
}
.block4 .wrapper-prtners .right-panel .colmn-container .colmn .content h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0;
}
.block4 .wrapper-prtners .right-panel .colmn-container .colmn .content p {
  font-family: "CeraPro-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
  text-align: right;
  text-transform: uppercase;
}
.block4 .wrapper-prtners .right-panel hr {
  display: none;
}
.block4 .wrapper-prtners .right-panel .img-con {
  position: absolute;
  right: 0;
  bottom: -4.6%;
}

.block5 {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 100%;
  min-height: 694px;
  max-width: 1179px;
  background-image: url("../img/block5/Russia 2.png");
  padding: 87px 102px 96.92px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-top: 60.46px;
}
.block5 .title {
  margin-bottom: 50px;
}
.block5 .title h2 {
  max-width: 695px;
}
.block5 .wrapper-city {
  display: flex;
  gap: 57.95px;
  margin-bottom: 50px;
}
.block5 .wrapper-city .colmn-1 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 200px;
}
.block5 .wrapper-city .block0 {
  display: flex;
  align-items: center;
  gap: 20px;
}
.block5 .wrapper-city .block0 h2 {
  color: rgb(130, 63, 145);
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0;
}
.block5 .wrapper-city .block0 ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style-type: none;
}
.block5 .wrapper-city .block0 ul li {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: "CeraPro-Regular";
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
}
.block5 .wrapper-city .block-2 {
  align-items: start;
}
.block5 .btn {
  cursor: pointer;
  display: flex;
  align-self: center;
  border: 1px solid rgb(130, 63, 145);
  background-color: transparent;
  color: rgb(130, 63, 145);
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0;
  padding: 10px 21px;
  border-radius: 100px;
}

@media (max-width: 1179px) {
  .block5 {
    width: 100%;
    max-width: 100%;
    background-size: 100%;
  }
}
.block6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12px;
  margin-top: 97px;
}
.block6 .wrapper-card {
  display: grid;
  grid-template-columns: repeat(4, 333px);
  gap: 24px;
}
.block6 .wrapper-card .card .title-card {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.block6 .wrapper-card .shadow {
  box-shadow: 0px 4px 20px 0px rgba(130, 63, 145, 0.15);
  background: rgb(255, 255, 255);
  transform: rotate(-8deg);
}
.block6 .wrapper-card .purple {
  background: rgb(130, 63, 145);
  transform: rotate(8deg);
}
.block6 .wrapper-card .purple .title-card {
  color: rgb(255, 255, 255);
}
.block6 .wrapper-card .purple .text {
  color: rgb(255, 255, 255);
}

.block7 {
  margin-top: 100px;
}
.block7 .title {
  max-width: 695px;
  justify-self: center;
  margin-bottom: 32px;
}
.block7 .title .btn {
  cursor: pointer;
  border: 0;
  background: rgb(130, 63, 145);
  border-radius: 100px;
  padding: 10px 26px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 2%;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-top: 12px;
}

.wrapper-panel {
  box-sizing: border-box;
  display: flex;
  max-height: 680px;
  min-height: 680px;
  overflow: hidden;
  border-radius: 22px;
  background-color: rgb(249, 240, 248);
  gap: 98px;
  padding: 60px;
}

.left-panel {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 100%;
  max-width: 413px;
  box-sizing: border-box;
}

.left-panel h2 {
  margin-left: 14px;
  margin-bottom: 32px;
}

.address {
  cursor: pointer;
  font-family: "CeraPro-Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  vertical-align: bottom;
  color: rgb(0, 0, 0);
  border-radius: 22px;
  padding: 16px 24px;
  transition: 0.3s ease;
}

.address:hover {
  transition: 0.3s ease;
  color: rgb(130, 63, 145);
  background-color: rgba(130, 63, 145, 0.06);
}

.address.active {
  color: rgb(130, 63, 145);
  background-color: rgba(130, 63, 145, 0.06);
}

.right-panel {
  width: 70%;
  box-sizing: border-box;
  overflow-y: auto;
}

.swiper {
  width: 100%;
  background-color: transparent !important;
  max-width: 750px;
  height: 100%;
  max-height: 560px;
  border-radius: 22px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 100%;
  height: 100%;
  max-width: 375px;
  max-height: 560px;
  border-radius: 22px;
  overflow: hidden;
}

.swiper-slide img {
  border-radius: 22px;
  height: 100%;
  max-height: 560px;
}

.swiper-button-prev, .swiper-button-next {
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  background-color: rgba(58, 56, 57, 0.55);
  border-radius: 100%;
  padding: 11px 22px;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 14px;
}

.gallery {
  display: grid;
  grid-template-columns: 375px 375px;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
  overflow: hidden;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 22px;
}

/* Специфическая разметка */
.gallery img:nth-child(1) {
  grid-column: 1;
  grid-row: 1/span 2;
  max-height: 560px;
}

.gallery img:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
  height: 268px;
}

.gallery img:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
  height: 268px;
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .gallery img {
    height: auto;
  }
  .gallery img:nth-child(1),
  .gallery img:nth-child(2),
  .gallery img:nth-child(3) {
    grid-column: auto;
    grid-row: auto;
  }
}
.block8 {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
}
.block8 .title {
  justify-self: center;
}
.block8 .title h2 {
  max-width: 695px;
}
.block8 .container-card {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 100px;
}
.block8 .container-card .card-container__card {
  position: relative;
  display: flex;
  align-items: end;
  width: 333px;
  height: 466px;
  border-radius: 22px;
  overflow: hidden;
}
.block8 .container-card .card-container__card .card__image {
  position: absolute;
  display: flex;
  align-self: center;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}
.block8 .container-card .card-container__card .card__image img {
  height: 100%;
}
.block8 .container-card .card-container__card .name {
  max-width: 239px;
  font-family: "CeraPro-Bold";
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0;
  color: rgb(255, 255, 255);
  padding: 0 0 22px 18px;
  z-index: 10;
}
.block8 .container-card .card-container__card .shadow {
  position: absolute;
  width: 110%;
  height: 100%;
  max-height: 180px;
  background: linear-gradient(to top, rgb(130, 63, 145) 0%, rgba(130, 63, 145, 0) 100%);
  z-index: 2;
}
.block8 .container-card .card-container__card .img-blur {
  position: absolute;
  bottom: 0;
  background-color: #fff;
  background-color: transparent;
  background: transparent;
  backdrop-filter: blur(111px);
  height: 150px;
  width: 100%;
  opacity: 0.5;
  z-index: 1;
}
.block8 .link-block {
  display: flex;
  align-items: center;
  align-self: center;
  width: 100%;
  max-width: 906px;
}
.block8 .link-block .link-wrapper {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
}
.block8 .link-block .link-wrapper .link {
  cursor: pointer;
  background-color: rgb(249, 240, 248);
  border-radius: 100px;
  text-decoration: none;
  padding: 10px 26px;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 2%;
  text-transform: uppercase;
  color: rgb(130, 63, 145);
}
.block8 .stars {
  display: flex;
  width: 100%;
  justify-content: center;
  align-self: center;
  margin-top: 40px;
}
.block8 .stars .stars-wrapper {
  display: flex;
  gap: 34px;
}
.block8 .stars .stars-wrapper .img-con {
  display: flex;
  align-items: center;
  padding: 10px;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #823F91;
  font-family: "Inter-Medium";
  color: #FFFFFF;
}
.footer .footer__wrapper {
  box-sizing: border-box;
  padding: 31px 18px 23px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 1428px;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 129px;
}
.footer .footer__wrapper .top {
  display: flex;
  justify-content: space-between;
}
.footer .footer__wrapper .top .top-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .footer__wrapper .top .top-left .logo {
  width: 100%;
  max-width: 208px;
  grid-area: logo;
  margin-top: 5px;
}
.footer .footer__wrapper .top .top-left .logo img {
  width: 100%;
}
.footer .footer__wrapper .top .top-left .navigation {
  display: flex;
  width: 100%;
  align-items: end;
  gap: 24px;
  grid-area: nav;
  text-decoration: none;
  list-style-type: none;
}
.footer .footer__wrapper .top .top-left .navigation .link {
  font-family: "CeraPro-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
}
.footer .footer__wrapper .top .contacts {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
  max-width: 258px;
  grid-area: contacts;
}
.footer .footer__wrapper .top .contacts .wrap {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.footer .footer__wrapper .top .contacts .wrap .title-con {
  font-family: "Inter-Medium";
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5019607843);
  margin-bottom: 4px;
}
.footer .footer__wrapper .top .contacts .wrap p {
  font-family: "Inter-Medium";
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0;
}
.footer .footer__wrapper .top .contacts .wrap-2 .icon-container {
  display: flex;
  align-items: center;
  gap: 26px;
}
.footer .footer__wrapper .bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: bot;
  padding-top: 14px;
  border-top: 1px solid rgba(231, 230, 236, 0.1019607843);
}
.footer .footer__wrapper .bot .download-con {
  display: flex;
  gap: 8px;
}
.footer .footer__wrapper .bot .creating {
  font-family: "Inter-Regular";
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: "CeraPro-Medium";
  font-weight: 500;
  overflow: hidden;
  box-sizing: border-box;
}
.main .app-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.main .wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  padding: 0 18px;
}
.main .text {
  font-family: "CeraPro-Regular";
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0;
  color: #000;
}

@font-face {
  font-family: "CeraPro-Bold";
  src: url("../fonts/CeraPro-Bold.woff2");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "CeraPro-Medium";
  src: url("../fonts/CeraPro-Medium.woff2");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "CeraPro-Regular";
  src: url("../fonts/CeraPro-Regular.woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/Inter_18pt-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Inter-Medium";
  src: url("../fonts/Inter_18pt-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}/*# sourceMappingURL=main.css.map */