.block7 {
    margin-top: 100px;
    .title {
        max-width: 695px;
        justify-self: center;
        margin-bottom: 32px;
        .btn {
            cursor: pointer;
            border: 0;
            background: rgba(130, 63, 145, 1);
            border-radius: 100px;
            padding: 10px 26px;
            font-family: 'Arial';
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: 2%;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 1);
            margin-top: 12px;
            transition: .5s ease;

          &:hover {
              transition: .5s ease;
              background-color: #581966;
              color: #FFFFFF;
          }
        }
    }
    .left-panel h2 {
      font-size: 40px;
    }
}
.wrapper-panel {
    box-sizing: border-box;
    display: flex;
    max-height: 680px;
    min-height: 680px;
    overflow: hidden;
    border-radius: 22px;
    background-color: rgba(249, 240, 248, 1);
    gap: 98px;
    padding: 60px;
}
.left-panel {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 100%;
    max-width: 413px;
    box-sizing: border-box;
}
.left-panel h2 {
  margin-left: 14px;
  margin-bottom: 32px;
}
.address {
  cursor: pointer;
    font-family: 'CeraPro-Regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0;
    vertical-align: bottom;
    color: rgba(0, 0, 0, 1);
    border-radius: 22px;
    padding: 16px 24px;
    transition: .3s ease;
}
.address:hover {
    transition: .3s ease;
    color: rgba(130, 63, 145, 1);
    background-color: rgba(130, 63, 145, 0.06);
}
.address.active {
    color: rgba(130, 63, 145, 1);
    background-color: rgba(130, 63, 145, 0.06);
}
.right-panel {
  width: 70%;
  box-sizing: border-box;
  overflow-y: auto;
}
.mySwiper1 {
  width: 100%;
  background-color: transparent !important;
  max-width: 750px;
  height: 100%;
  max-height: 560px;
  border-radius: 22px;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 100%;
    height: 100%;
    max-width: 375px;
    max-height: 560px;
    border-radius: 22px;
    overflow: hidden;
    margin-right: 0 !important;
  }

  .swiper-slide img {
      border-radius: 22px;
      height: 100%;
      max-height: 560px;
  }
}
.swiper-button-prev, .swiper-button-next {
    color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    background-color: rgba(58, 56, 57, 0.55);
    border-radius: 100%;
    padding: 11px 22px;
    z-index: 100;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 14px;
}
.mySwiper1 .swiper-wrapper {
  gap: 24px;
}
.gallery {
  display: grid;
  grid-template-columns: 375px 375px;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
  overflow: hidden;
}
.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 22px;
}
.swiper {
  user-select: none;
  overflow: visible;
}
/* Специфическая разметка */
.gallery img:nth-child(1) {
  grid-column: 1;
  grid-row: 1 / span 2;
  max-height: 560px;
}
.gallery img:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
  height: 268px;
}
.gallery img:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
  height: 268px;
}

//mobile

.address-mobile {
  align-items: center;
  cursor: pointer;
  font-family: 'CeraPro-Regular';
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  padding: 16px 10px 16px 0;
  transition: 0.3s ease;
  color: rgba(0, 0, 0, 1);
}
.address-mobile.active {
  color: rgba(130, 63, 145, 1);
}

@media (max-width: 1310px) {
  .block7 .left-panel h2 {
    display: none;
  }
  .left-panel {
    max-width: 695px;
  }
  #addressListMobile {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .address-mobile.active{
    border: 0;
  }

  .mobile-slider-container {
    padding-bottom: 16px;
    border-bottom: 1px solid #3D205012;
  }
  .address-mobile {
      transition: .3s ease;
  .icon {
      transition: .3s ease;
    svg {
      transform: 0;
      transition: .3s ease;
      path{
        stroke: black;
        transition: .3s ease;
      }
    }
  }
}
.address-mobile.active {
  .icon {
    svg {
      transform: rotate(180deg);
      transition: .3s ease;
      path{
        stroke: rgba(130, 63, 145, 1);
        transition: .3s ease;
      }
    }
  }
}
  .address-mobile {
    user-select: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    font-size: 18px;
    padding: 19px 0px;
    border-bottom: 1px solid #3D205012;

    &:first-child {
      padding: 16px 0;
    }

    .icon {
      width: 24px;
      height: 24px;
      align-items: center;
      margin-left: 10px;
      transition: .3s ease;
    }

    p {
      min-width: 309px;
    }
  }

  #mobileSliderContainer {
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 16px;
  }

  #mobileSliderContainer .swiper-slide img {
    width: 100%;
    height: 100%;
    border-radius: 22px;
    object-fit: cover;
  }

  #mobileSliderContainer .swiper-slide {
    max-width: 100% !important;
    height: auto !important;
  }

  .block7 .right-panel {
    display: none;
  }

  .wrapper-panel {
    max-height: none;
    overflow: visible;
    background-color: transparent;
    justify-content: center;
    padding: 0;
    min-height: auto;
  }

  .mySwiper1  {
      width: 100%;
  }
  .swiper-slide {
      max-width: 265px !important;
      max-height: 353px !important;
      overflow: hidden;
      border-radius: 22px;
  }

  .address-mobile.active {
    background-color: transparent;
  }

  .address {
    display: none;
  }

  .dropdown-gallery {
    margin: 16px 0;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .gallery {
      display: grid;
      gap: 12px;
    }

    img {
      width: 100%;
      max-width: 100%;
      border-radius: 12px;
    }
  }
}
@media (min-width: 1311px) {
  #addressListMobile {
    display: none;
  }
  .left-panel > .address {
    display: flex;
  }
  #mobileSliderContainer {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .address-mobile p {
    font-size: clamp(15px,3vw,18px);
  }
  .block7 .title {
    margin-bottom: clamp(24px, 5vw,32px);
  }
  .gallery {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .gallery img {
    height: auto;
  }

  .gallery img:nth-child(1),
  .gallery img:nth-child(2),
  .gallery img:nth-child(3) {
    grid-column: auto;
    grid-row: auto;
  }
}
@media (max-width:560px) {
  .block7  .swiper-slide {
    min-width: 265px;
    min-height: 353px;
    img {
      height: 100%;
      min-height: 353px;
    }
  }
}
