.title {
    display: flex;
    align-self: center;
    width: 100%;
    max-width: 817.5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;

    .sub {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;
        color: #823F91;
        margin-bottom: 8px;
    }
    h2 {
        font-weight: 500;
        font-size: 50px;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;
        color: #000;
    }
    .sub-title {
        font-family: 'CeraPro-Regular';
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;
        max-width: 510px;
        margin-top: 16px;
        color: #000;
    }
}

.block1 {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;


    .wrapper-con {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 24px;

        .container1 {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: end;
            width: 100%;
            max-width: 690px;
            min-height: 710px;
            border-radius: 22px;
            background-color: #823F91;
            padding: 50px 29px 50px;
            overflow: hidden;

            .circle-wrapper{
                position: relative;
                width: 100%;
                height: 100%;
                z-index: 10;

                .abs-circle {
                    cursor: default;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    max-width: fit-content;
                    border-radius: 100%;
                    background: linear-gradient(139.22deg, rgba(255, 255, 255, 0.2) 18.5%, rgba(255, 255, 255, 0.1) 86.68%);
                    backdrop-filter: blur(11px);
                    -webkit-backdrop-backdrop-filter: blur(11px);
                    border: 1px solid #FFFFFF1A;
                    color: #fff;
                    transition: 1s ease;

                    &:hover {
                        scale: 1.1;
                        transition: 1s ease;
                    }

                    .container {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        .more {
                            font-family: 'CeraPro-Bold';
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 140%;
                            letter-spacing: 0;
                            text-transform: uppercase;
                            margin-left: 0;
                        }
                        .counter {
                            font-family: 'CeraPro-Bold';
                            font-weight: 700;
                            font-size: 40px;
                            line-height: 140%;
                            letter-spacing: 0;
                            text-transform: uppercase;
                            margin-left: 0;

                        }
                        .text {
                            font-family: 'CeraPro-Regular';
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 140%;
                            letter-spacing: 0%;
                            text-align: center;
                            margin-left: 0;

                        }
                    }
                }

                .circle1 {
                    top: 17px;
                    right: 269px;
                    min-width: 220px;
                    height: 220px;

                    .container {
                        max-width: 164px;
                    }
                }
                .circle2 {
                    min-width: 256px;
                    height: 256px;
                    top: 0;
                    right: 0;
                    .container {
                        max-width: 190px;
                    }
                }
                .circle3 {
                    min-width: 276px;
                    height: 276px;
                    left: 0;
                    bottom: 59px;
                    .container {
                        max-width: 164px;
                    }
                }
                .circle4, .circle6 {
                    .container {
                        min-width: 82px;
                    }
                }
                .circle4 {
                    min-width: 168px;
                    height: 163.9px;
                    top: 228px;
                    right: 186px;
                }
                .circle5 {
                    min-width: 172px;
                    height: 172px;
                    top: 259px;
                    right: 0;
                    .container {
                        max-width: 103px;
                    }
                }
                .circle6 {
                    min-width: 160px;
                    height: 160px;
                    bottom: 0;
                    right: 135px;
                }
            }
            .bg-img {
                position: absolute;
                right: 0;
                bottom: 0;
                z-index: 0;
            }

            p {
                font-weight: 500;
                font-size: 40px;
                line-height: 120%;
                letter-spacing: 0;
                color: #fff;
                margin-left: 31px;
            }
        }
        .container2 {
            display: flex;
            width: 100%;
            max-width: 690px;
            min-height: 710px;
            max-height: 710px;
            border-radius: 22px;
            background-color: #F9F0F8;
            padding: 62px 60px 61px;

            .wrapper-con2 {
                display: grid;
                grid-template-areas: 
                'text1 text1'
                'photo text2';
                // grid-template-rows: repeat(3, max-content);
                flex-direction: column;
                justify-content: space-between;

                .text-wrapper {
                    grid-area: text1;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    .top {
                        color: #823F91;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 130%;
                        letter-spacing: 0;
                        text-transform: uppercase;
                    }
                    .bold-text {
                        font-weight: 500;
                        font-size: 24px;
                        line-height: 120%;
                        letter-spacing: 0;
                        color: #000;
                    }
                }

                .photo {
                    grid-area: photo;
                    display: flex;
                    align-self: end;
                    margin-right: 24px;

                    .img-con {
                    display: flex;
                    justify-content: center;
                    max-width: 216px;
                    max-height: 281px;
                    border-radius: 16px;
                    overflow: hidden;
                    img {
                        height: 100% !important;
                    }
                    }
                }
                .text-container {
                    grid-area: text2;
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    .text {
                        margin-bottom: 16px;
                    }
                }
                .bold-text-italic {
                    font-weight: 500;
                    font-style: italic;
                    font-size: 18px;
                    line-height: 140%;
                    letter-spacing: 0%;
                    height: fit-content;
                }
            }
            .mobile {
                grid-area: BekItalic;
                display: none;
                font-weight: 500;
                font-style: italic;
                font-size: 18px;
                line-height: 140%;
                letter-spacing: 0%;
                height: fit-content;
            }
        }
    }
}

@media (max-width:1440px) {
    .adapt-fz-mini {
        font-size: clamp(13px, 3vw, 18px) !important;
    }
    .block1 .wrapper-con .container1 .title-num {
        font-size: clamp(21px,5vw,40px);
    }
    .title{
        .sub {
            font-size: clamp(13px, 3vw, 16px);
        }
        h2 {
            font-size: clamp(26px, 6vw, 50px);
        }
        .sub-title {
            font-size: clamp(15px, 3vw, 18px);
        }

        .btn {
            font-size: clamp(13px,3vw,16px) !important;
        }
    }
    .block1 .wrapper-con .container2 .wrapper-con2 {
        min-height: 468px;
    }
    .block1 .wrapper-con .container2 .wrapper-con2 .text-wrapper .top {
        font-size: clamp(13px, 3vw, 16px);
    }
    .block1 .wrapper-con .container2 .wrapper-con2 .text-wrapper .bold-text {
        font-size: clamp(15px, 3vw, 24px);
    }
    .block1 .wrapper-con .container2 {
        padding: clamp(32px,5vw,62px) clamp(20px,5vw,60px) clamp(32px,5vw,61px);
    }
    .block1 .wrapper-con .container1 .circle-wrapper {
        min-height: 422px;
    }
    .block1 .wrapper-con .container1 .circle-wrapper .abs-circle .container{
        .more {
            font-size: clamp(11px, 2vw,16px);
        }
        .counter {
            font-size: clamp(26px, 3vw,40px);
        }
        .text {
            display: flex;
            align-items: center;
            text-align: center;
            align-self: center;
            font-size: clamp(11px, 2vw,16px);
            max-width: 95%;
        }
    }

    .block1 .wrapper-con .container1 .circle-wrapper .circle1 {
        max-width: clamp(152px,32vw,220px);
        min-width: clamp(152px,32vw,220px);
        height: clamp(152px,32vw,220px);
    }
    .block1 .wrapper-con .container1 .circle-wrapper .circle2 {
        min-width: clamp(168px,29vw,256px);
        height: clamp(168px,29vw,256px);
    }
    .block1 .wrapper-con .container1 .circle-wrapper .circle3 {
        min-width: clamp(181px,20vw,276px);
        height: clamp(181px,20vw,276px);
    }
    .block1 .wrapper-con .container1 .circle-wrapper .circle4 {
        min-width: clamp(110.2px,20vw,168px);
        height: clamp(107.5px,20vw,163.9px);
    }
    .block1 .wrapper-con .container1 .circle-wrapper .circle5 {
        min-width: clamp(112.84px,20vw,172px);
        height: clamp(112.84px,20vw,172px);
    }
    .block1 .wrapper-con .container1 .circle-wrapper .circle6 {
        min-width: clamp(105px,20vw,160px);
        height: clamp(105px,20vw,160px);
    }
}

@media (max-width:1330px) {
    .block1 .wrapper-con .container2 .wrapper-con2 {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            'text1 text1'
            'text2 text2'
            'photo BekItalic';
    }

    .block1 .wrapper-con .container2 {
        max-height: none;
    }

    .block1 .wrapper-con .container2 .wrapper-con2 .bold-text-italic {
        display: none;
    }

    .block1 .wrapper-con .container2 .mobile {
        display: block !important;
        width: 100%;
        align-self: end;
    }
}

@media (max-width:1170px) {
    .block1 .wrapper-con {
        flex-direction: column-reverse;
        align-items: center;
    }
    .block1 .wrapper-con .container1 {
        justify-content: space-between;
        min-height: clamp(532px,53vw,610px);
        flex-direction: column-reverse;
    }

    .block1 .wrapper-con .container1 .circle-wrapper .abs-circle:hover {
        scale: none;
        transition: none;
    }

    .block1 .wrapper-con .container1 p {
        z-index: 100;
        margin: 0;
    }

    .block1 .wrapper-con .container1 .bg-img {
        bottom: auto;
        top: 0;
    }
    .block1 .wrapper-con .container1 .circle-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: clamp(422px,47vw,479px);
    }

    .block1 .wrapper-con .container1 .circle-wrapper .circle1 {
        right: auto;
        left: 0;
        top: 16px;
    }
    .block1 .wrapper-con .container1 .circle-wrapper .circle2 {
        right: 13%;
    }
    .block1 .wrapper-con .container1 .circle-wrapper .circle3 {
        bottom: 0;
    }
    .block1 .wrapper-con .container1 .circle-wrapper .circle4 {
        top: auto;
        right: auto;
    }
    .block1 .wrapper-con .container1 .circle-wrapper .circle5 {
        top: auto;
        bottom: 27.3%;
        right: 0;
    }
    .block1 .wrapper-con .container1 .circle-wrapper .circle6 {
        right: 20.5%;
        // bottom: 5.5%;
        bottom: 0;
    }
}

@media (max-width:700px) {
    .block1 .wrapper-con .container1 .circle-wrapper .circle1 {
        max-width: clamp(152px,32vw,220px);
        min-width: clamp(152px,32vw,220px);
        height: clamp(152px,32vw,220px);
    }
    .block1 .wrapper-con .container1 .circle-wrapper .circle2 {
        min-width: clamp(168px,29vw,256px);
        height: clamp(168px,29vw,256px);
    }
    .block1 .wrapper-con .container1 .circle-wrapper .circle3 {
        min-width: clamp(181px,20vw,276px);
        height: clamp(181px,20vw,276px);
    }
    .block1 .wrapper-con .container1 .circle-wrapper .circle4 {
        min-width: clamp(110.2px,20vw,168px);
        height: clamp(107.5px,20vw,163.9px);
    }
    .block1 .wrapper-con .container1 .circle-wrapper .circle5 {
        min-width: clamp(112.84px,20vw,172px);
        height: clamp(112.84px,20vw,172px);
    }
    .block1 .wrapper-con .container1 .circle-wrapper .circle6 {
        min-width: clamp(105px,20vw,160px);
        height: clamp(105px,20vw,160px);
    }
}

@media (max-width:470px) {
    .block1 .wrapper-con .container1 .bg-img {
        right: -52px;
    }
    .block1 .wrapper-con .container1 {
        padding: 0 2px 6px 6px;
    }
    .block1 .wrapper-con .container1 .title-num {
        padding-top: 32px;
        padding-left: 20px;
    }

    .block1 .wrapper-con .container1 .circle-wrapper .circle1 {
        right: auto;
        left: 0;
        top: 16px;
    }
    .block1 .wrapper-con .container1 .circle-wrapper .circle2 {
        right: 0;
    }
    .block1 .wrapper-con .container1 .circle-wrapper .circle4 {
        top: auto;
        right: auto;
        bottom: 39.3%;
    }
    .block1 .wrapper-con .container1 .circle-wrapper .circle5 {
        bottom: 30.3%;
        top: auto;
        right: 0;
    }
    .block1 .wrapper-con .container1 .circle-wrapper .circle6 {
        right: 12.1%;
        bottom: 5.5%;
    }
}

@media (max-width:440px) {
    .block1 .wrapper-con .container2 .wrapper-con2 .text-wrapper .top {
        margin-bottom: 8px;
    }
    .block1 .wrapper-con .container2 .wrapper-con2 .text-wrapper {
        gap: 8px;
    }
    .block1 .wrapper-con .container2 {
        max-height: 532px;
        min-height: 532px;
    }
    .block1 .wrapper-con .container2 .wrapper-con2 {
        grid-template-columns: 122px 1fr;
        grid-template-rows: auto;
        box-sizing: border-box;
    }
    .block1 .wrapper-con .container2 .wrapper-con2 .photo {
        margin-right: 0;
    }
    .block1 .wrapper-con .container2 .wrapper-con2 .photo .img-con {
        max-width: 110px;
        max-height: 143px;
    }
}

@media (max-width:420px) {
    // .block1 .wrapper-con .container2 .wrapper-con2 .text-wrapper .text{
    //     margin-bottom: 8px;
    // }
    .block1 .wrapper-con .container2 .wrapper-con2 .text-container .text {
        br {
            &:first-child {
                display: none;
            }
            &:last-child {
                padding-bottom: 8px;
            }
        }
    }
}