.block2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 871px;
    min-height: 871px;
    margin: 92px 0 72px 0;
    user-select: none;

    .absolute-bg {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 200%;
        height: 100%;
        max-height: 498px;
        filter: blur(12px);
        z-index: 9;
        .bg2 {
            width: 100%;
            height: 50%;
            background: #F9F0F8;
            background: -webkit-linear-gradient(0deg, rgba(249, 240, 248, 0.55) 0%, rgba(249, 240, 248, 1) 7%);
            background: -moz-linear-gradient(0deg, rgba(249, 240, 248, 0.55) 0%, rgba(249, 240, 248, 1) 7%);
            background: linear-gradient(0deg, rgba(249, 240, 248, 0.55) 0%, rgba(249, 240, 248, 1) 7%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F9F0F8", endColorstr="#F9F0F8", GradientType=0);
        }
        .bg1 {
            width: 100%;
            height: 50%;
            background: #F9F0F8;
            background: -webkit-linear-gradient(180deg, rgba(249, 240, 248, 0.55) 0%, rgba(249, 240, 248, 1) 7%);
            background: -moz-linear-gradient(180deg, rgba(249, 240, 248, 0.55) 0%, rgba(249, 240, 248, 1) 7%);
            background: linear-gradient(180deg, rgba(249, 240, 248, 0.55) 0%, rgba(249, 240, 248, 1) 7%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F9F0F8", endColorstr="#F9F0F8", GradientType=0);
        }
    }
    .wrapper-img {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 1576px;
        height: 100%;
        min-height: 820px;
        z-index: 10;

        .img-icon {
            position: absolute;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            border-radius: 25px;
            border: 1px solid #fff;
            overflow: hidden;

            img {
                width: 100%;
                max-width: 100%;
            }
        }
        .icon1 {
            max-width: 345px;
            max-height: 398px;
            left: -6%;
            z-index: 2;
        }
        .icon2 {
            max-width: 285.5px;
            max-height: 328.8px;
            left: 16%;
            top: 4%;
            z-index: 3;
        }
        .icon3 {
            max-width: 158.7px;
            max-height: 181.4px;
            bottom: 9.5%;
            left: 16%;
            z-index: 3;
        }
        .icon4 {
            max-width: 532.89px;
            max-height: 607.7px;
            z-index: 2;
        }
        .icon5 {
            max-width: 283.45px;
            max-height: 328.81px;
            bottom: 1%;
            right: 15%;
            z-index: 3;
        }
        .icon6 {
            max-width: 158.7px;
            max-height: 181.4px;
            top: 9.5%;
            right: 16%;
            z-index: 3;
        }
        .icon7 {
            max-width: 345px;
            max-height: 398px;
            right: -6%;
            z-index: 2;
        }
        .icon8 {
            max-width: 169px;
            max-height: 173px;
            left: 6.5%;
            top: 9%;
            z-index: 5;
            border: 0;
        }
        .icon9 {
            max-width: 208px;
            max-height: 195px;
            right: 14.7%;
            bottom: 31%;
            z-index: 5;
            border: 0;
        }
    }
}

@media (max-width:1900px) {
    .block2 .wrapper-img .icon1 {
        left: calc((1440px - 100vw) / 8);
    }
    .block2 .wrapper-img .icon2 {
        max-width: clamp(252px, 17vw, 285.5px);
        max-height: clamp(290px, 20vw, 328.8px);
        // left: 19%;
        // top: 9%;
        transition: left 0.3s linear, top 0.3s linear;
    }
    .block2 .wrapper-img .icon3, .block2 .wrapper-img .icon6 {
        max-width: clamp(140px, 9.7vw, 158.7px);
        max-height: clamp(160px, 11vw, 181.4px);
        transition: left 0.3s linear, top 0.3s linear;
    }
    .block2 .wrapper-img .icon3 {
        padding-bottom: 46px;
    }
    .block2 .wrapper-img .icon4 {
        max-width: clamp(470px, 32vw, 532.89px);
        max-height: clamp(536px, 37vw, 607.7px);
        transition: left 0.3s linear, top 0.3s linear;
    }
    .block2 .wrapper-img .icon5 {
        max-width: clamp(250px, 17vw, 283.45px);
        max-height: clamp(290px, 20vw, 328.81px);
        transition: left 0.3s linear, top 0.3s linear;
    }
    .block2 .wrapper-img .icon7 {
        right: calc((1440px - 100vw) / 8);
    }
    .block2 .wrapper-img .icon1, .block2 .wrapper-img .icon7 {
        width: clamp(305px, 21vw, 345px);
        height: clamp(351px, 22vw, 398px);
    }
    .block2 .wrapper-img .icon8 {
        width: clamp(149.79px, 10vw, 169px);
        height: clamp(152.64px, 10vw, 173px);
    }
    .block2 .wrapper-img .icon9 {
        width: clamp(183.7px, 10vw, 208px);
        height: clamp(172.1px, 10vw, 195px);
    }
}

@media (max-width:1440px) {
    .block2 .wrapper-img .icon7 {
        right: 0;
    }
    .block2 .wrapper-img .icon1 {
        left: 0;
    }
}

