.block4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 99.5px 0 60.5px 0;
    
    .title {
        justify-self: center;

        h2 {
            max-width: 821px;
        }

        .btn {
            cursor: pointer;
            font-family: 'CeraPro-Medium';
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: 2%;
            text-transform: uppercase;
            color: #fff;
            padding: 10px 26px;
            border: 0;
            background-color: #823F91;
            border-radius: 100px;
            margin-top: 16px;
            transition: .5s ease;

            &:hover {
                transition: .5s ease;
                background-color: #581966;
                color: #FFFFFF;
            }
        }
    }
    .prtners1 {
        margin-bottom: 24px;
        flex-direction: row;
    }
    .prtners2 {
        flex-direction: row-reverse;
    }
    .wrapper-prtners {
        display: flex;
        background-color: #823F91;
        border-radius: 22px;
        padding: 68px 67px 67px 67px;
        justify-content: space-between;
        color: #fff;
        
        .left-panel {
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 593px;
            height: 100%;
            // min-height: 616px;
            box-sizing: border-box;

            .img-container {
                user-select: none;
                position: relative;
                display: flex;
                width: 100%;
                max-width: 519px;
                max-height: 508px;
                margin-left: 37px;
                margin-bottom: 63px;
                z-index: 10;

                .procent-rotate1 {
                    right: 20.2%;
                    top: 34%;
                }
                .procent-rotate1-2 {
                    top: 32%;
                }

                .img-wrap {
                    display: flex;
                    align-items: start;
                    align-self: start;
                    justify-content: start;
                    width: 100%;
                    max-width: 367px;
                    height: 100%;
                    max-height: 508px;
                    border-radius: 22px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        overflow: hidden;
                    }
                }
                .img-wrap2 {
                    position: absolute;
                    align-items: center;
                    right: 0;
                    bottom: 32px;
                    max-width: 217px;
                    max-height: 246px;
                }
                .heart-mini {
                    position: absolute;
                }
                .heart-mini2 {
                    left: -16%;
                    bottom: -10.26%;
                    right: auto;
                    top: auto;
                }
            }

            .text {
                max-width: 470px;
                color: #fff;
                font-family: 'CeraPro-Regular';
                font-weight: 400;
                font-size: 20px;
                line-height: 120%;
                letter-spacing: 0;
                z-index: 10;
            }

            .bg-heart {
                user-select: none;  
                position: absolute;
                width: 100%;
                height: 100%;
                right: 0%;
                top: -11%;
                z-index: 5;
                
                img {
                    width: 100%;
                }
            }
            
            .bg-heart2 {
                transform: rotate(-35.41deg);
                left: -28%;
                // bottom: 0%;
                right: auto;
                top: 58%;
            }
        }
        
        .right-panel {
            position: relative;
            display: flex !important;
            justify-content: space-between;
            width: 100%;
            max-width: 600px;
            flex-direction: column;
            align-items: start;
            overflow: visible;

            h2 {
                display: flex;
                max-width: 100%;
                font-weight: 500;
                font-size: 40px;
                line-height: 120%;
                letter-spacing: 0;

                p {
                    display: flex;
                    align-items: end;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 120%;
                    letter-spacing: 0;
                    opacity: 0.55;
                }
            }

            .colmn-container {
                display: grid;
                gap: 25px 30px;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: 
                'con1 con2'
                'procent1 procent2'
                'con5 con6'
                'con7 con8';
                margin-top: 44px;
                margin-bottom: 44px;

                .content {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    max-width: 277px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #FFFFFF38;
                    align-items: start;

                    h2{
                            font-weight: 500;
                            font-size: 40px;
                            line-height: 120%;
                            letter-spacing: 0;
                    }
                    p {
                        font-family: 'CeraPro-Regular';
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 140%;
                        letter-spacing: 0;
                        text-transform: uppercase;

                    }
                }

                .con1 {
                    grid-area: con1;
                }
                .con1 {
                    grid-area: con2;
                }
                .procent1 {
                    grid-area: procent1;
                }
                .procent2 {
                    grid-area: procent2;
                }
                .con5 {
                    grid-area: con5;
                }
                .con6 {
                    grid-area: con6;
                }
                .con7 {
                    grid-area: con7;
                }
                .con8 {
                    grid-area: con8;
                }
            }
            hr {
                grid-area: line;
                display: none;
            }
            .img-con {
                position: absolute;
                right: 0;
                bottom: -4.6%;
            }
            .btn {
                cursor: pointer;
                color: #823F91;
                padding: 10px 26px;
                font-size: 16px;
                line-height: 140%;
                font-weight: 500;
                text-transform: uppercase;
                border-radius: 100px;
                border: 0;
                background-color: #fff;
            }
        }
    }
}

@media (max-width:1310px) {
    .block4 .wrapper-prtners .right-panel {
        display: flex !important;
    }
}
@media (max-width:1280px) {
    .block4 .wrapper-prtners .left-panel .img-container {
        margin-left: 0;
    }
    .block4 .wrapper-prtners.prtners2 .left-panel .img-container {
        margin-left: 37px;
    }
    .block4 .wrapper-prtners .left-panel {
        padding-right: 10px;
    }
    .block4 .wrapper-prtners .right-panel h2 {
        font-size: clamp(21px, 3vw, 40px);
    }
    .block4 .wrapper-prtners .right-panel .colmn-container .content h2 {
        font-size: clamp(23px, 3vw, 40px);
    }
    .block4 .wrapper-prtners .right-panel .colmn-container .content p {
        font-size: clamp(13px, 2vw, 16px);
        text-align: left;
    }
    .block4 .wrapper-prtners .right-panel .colmn-container .min72 {
        display: flex;
        justify-content: end;
    }
    .block4 .wrapper-prtners .right-panel .btn {
        font-size: clamp(13px,3vw,16px);
    }
}
@media (max-width:1260px) {
    .block4 .wrapper-prtners .right-panel .colmn-container {
        grid-template-areas: 
        'con1 con2'
        'con5 con6'
        'con7 con8'
        'procent1 procent1'
        'procent2 procent2';
        gap: 32px 10px;
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .block4 .wrapper-prtners .right-panel .colmn-container .procent1,
    .block4 .wrapper-prtners .right-panel .colmn-container .procent2 {
        min-width: 100%;
        display: flex;
    }
}
@media (max-width:1045px) {
    .block4 .wrapper-prtners.prtners2 .left-panel .img-container {
        margin-left: 0;
    }
    .block4 .prtners1 {
        margin-bottom: clamp(8px,2vw,24px);
    }
    .block4 .wrapper-prtners .left-panel .img-container {
        margin: 0;
    }
    .block4 .wrapper-prtners .left-panel .text {
        display: none;
    }
    .block4 .wrapper-prtners .right-panel .colmn-container {
        width: 100%;
        grid-template-columns: 1fr 1px 1fr;
        grid-template-areas: 
        'con5 line con6'
        'con7 line con8'
        'con2 line con1'
        'procent1 procent1 procent1'
        'procent2 procent2 procent2';
    }
    .block4 .wrapper-prtners {
        align-items: center;
        flex-direction: column;
        max-width: fit-content;
        align-self: center;
        padding: 0;
    }
    .block4 .wrapper-prtners .left-panel {
        padding: 32px 32px 36.5px 32px;
    }
    .block4 .wrapper-prtners .right-panel {
        padding: 0 20px 35.5px 20px;

        .img-con {
            display: none;
        }
    }
    .block4 .wrapper-prtners .right-panel .colmn-container .content {
        padding-bottom: 8px;
    }
    .block4 .wrapper-prtners .right-panel hr {
        display: block;
        min-width: 1px;
        height: 244px;
        border: 0;
        min-height: 100%;
        background: #FFFFFF38;
    }
    .block4 .wrapper-prtners .left-panel .img-container .img-wrap2 {
        bottom: 0;
        right: 0;
    }
    .block4 .wrapper-prtners .left-panel .img-container .heart-mini-rotate {
        transform: rotate(-8deg);
    }
    .block4 .wrapper-prtners .left-panel .img-container .heart-mini2 {
        max-width: clamp(57px, 10vw,165.14px);
        max-height: clamp(57px, 10vw,165.14px);
        transform: 0;
        left: 1.5%;
        right: auto;
        top: auto;
        img {
            width: 100%;
        }
    }
    .block4 .wrapper-prtners .left-panel .img-container {
        width: auto;
    }
    .block4 .wrapper-prtners .left-panel .img-container .img-wrap {
        align-items: anchor-center;
        max-width: 292px;
        max-height: 419px;
    }
    .block4 .wrapper-prtners .left-panel .img-container .img-wrap2 {
        max-width: 187px;
        max-height: 207px;
    }
}
@media (max-width:600px) {
    .block4 .wrapper-prtners .left-panel .img-container {
        min-height: clamp(322px, 85vw,507px);
    }
    .block4 .wrapper-prtners .left-panel .img-container .img-wrap {
        max-width: clamp(211px, 50vw, 292px);
        max-height: clamp(291px, 72vw, 419px);
    }
    .block4 .wrapper-prtners .left-panel .img-container .img-wrap2 {
        max-width: clamp(125px, 32vw, 187px);
        max-height: clamp(142px, 36vw, 207px);
    }
    .block4 .wrapper-prtners .left-panel .bg-heart {
        display: none;
    }
    .block4 .wrapper-prtners .left-panel .bg-heart2 {
        display: none;
    
    }
    .block4 .wrapper-prtners .left-panel .img-container .procent-rotate1 {
        right: 3.65%;
        top: 36%;
    }
    .block4 .wrapper-prtners .left-panel .img-container .procent-rotate2 {
        left: 2.5%;
        bottom: 0;
    }
    .block4 .wrapper-prtners .left-panel .img-container .procent-rotate2-2 {
        bottom: 5%;
    }
}
@media (max-width:450px) {
    .block4 .wrapper-prtners .right-panel .colmn-container {
        justify-content: space-between;
    }
    .block4 .wrapper-prtners .right-panel .colmn-container .colmn {
        min-width: 141.5px;
        max-width: 141.5px;
    }
    .block4 .wrapper-prtners .right-panel .btn {
        justify-content: center;
        width: 100%;
        padding: 10px 0;
    }
}