.confectionery {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    padding: 94px 20px 0 20px;
    z-index: 10;
}

.location-card-link {
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.confectionery-header {
    background-color: #823F91 !important;
    z-index: 100000;
}
.fz .title h2 {
    font-size: 32px;
}
.header-page {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;

    .title {
        margin: 0;
    }
}

.back {
    cursor: pointer;
    user-select: none;
    position: absolute;
    left: 0;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #3A3839;
    .arrow {
        display: flex;
        align-items: center;
        max-width: 24px;
        margin-right: 6px;
    }
    p {
        color: #3A3839;
        font-size: 13px;
        font-family: 'Inter-Medium';
        font-weight: 500;
        line-height: 130%;
    }
}

#card-container {
    display: flex;
    justify-content: center;
    margin: 32px 0 100px 0;
    width: 100%;
    flex-wrap: wrap;
    gap: clamp(10px,3vw,40px);
}
.confectionery .location-card {
    cursor: pointer;
    width: 360px;
    border: 1px solid #ccc;
    padding: 30px 30px 40px 30px;
    border-radius: 15px;
    background-color: #fff;
    transition: .3s ease;

    .title {
        font-family: 'CeraPro-Regular';
        font-weight: 400;
        margin-bottom: 17px;
        align-items: start;
        color: #333333;
        font-size: 17px;
        line-height: 24.3px;
        letter-spacing: 0;
    }

    .text {
        font-family: 'CeraPro-Light';
        font-weight: 300;
        font-size: 17px;
        line-height: 27.9px;
        letter-spacing: 0;

        .bold {
            font-family: 'CeraPro-Bold';
            font-weight: 700;
        }
    }

    &:hover {
        border: 1px solid #823F9180;
        background-color: #F9F0F8;
        transition: .3s ease;
    }
}

@media (max-width:800px) {
    .location-card {
        width: 343px;
    }
}

@media (max-width:620px) {
    .header-page {
        flex-direction: column;
        justify-content: start;
        gap: 16px;

        .title {
            align-items: start;
        }

        .back {
            width: fit-content;
            align-self: start;
            justify-content: start;
            position: relative;
        }
    }
}