.delivery-main {
    position: relative;
    min-height: 100%;
    padding-top: clamp(50px, 10vw,55px);
}
.back-delivery {
    top: 80px;
    left: 17px;
}
.delivery {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    min-height: 759px;
    .left-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 0 16px;

        .title {
            display: flex;
            max-width: 632px;
            margin-bottom: 50px;
        }
        .nav-delivery {
            display: flex;
            width: 100%;
            justify-content: center;
            ul {
            display: flex;
            max-width: 453px;
            flex-wrap: wrap;
            gap: 20px 32px;
            justify-content: center;
            a {
                cursor: pointer;
                text-decoration: none;
                color: #823F91;
                border-bottom: 1px solid transparent;
                transition: .3s ease;

                &:hover {
                    border-bottom: 1px solid #823F91;
                    transition: .3s ease;
                }
                li {
                    text-decoration: none;
                    list-style-type: none;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 120%;
                    letter-spacing: 0%;
                    text-transform: uppercase;
                }
            }
            }
        }
    }
    .img-container {
        display: flex;
        min-width: 50%;
        min-height: 100%;
        .img-wrapper {
            display: flex;
            width: 100%;
            min-height: 100%;
            img {
                display: flex;
                width: 100%;
                align-items: end;
            }
        }
    }
}

@media (max-width:1440px) {
    .delivery .title h2 {
        font-size:clamp(26px, 3vw, 50px);
    }
    .delivery .title .sub {
        font-size: clamp(13px, 2vw, 16px);
    }
    .delivery .left-block .nav-delivery ul a li {
        font-size: clamp(20px,2vw,24px);
    }
}

@media (max-width:1300px) {
    .delivery .img-container .img-wrapper img {
        width: auto;
        height: 100%;
    }
}

@media (max-width:720px) {
    .delivery .title {
        margin-bottom: 47px !important;
    }
    .delivery {
        flex-direction: column !important; 
        .back-delivery {
            position: relative;
            top: 0;
            left: 0;
            align-self: start;
            padding: 16px 0 0 16px;
        }
    }
    .delivery .img-container {
        position: relative;
        width: 100%;
        max-height: 400px;
        align-items: center;
        overflow: hidden;
        .img-shadow {
            position: absolute;
            z-index: 100;
            top: -2px;
            left: 0;
            height: 41%;
            width: 100%;
            background: #FFF;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0) 17%, rgba(255, 255, 255, 1) 100%);
        }
        img {
            height: fit-content;
            object-fit: contain;
        }
    }
    .delivery .left-block {
        margin-bottom: 71px;
        margin-top: 22px;
    }
}

@media (max-width:540px) {
    .delivery .img-container {
        max-height: clamp(241px, 64vw,400px);
    }
}