.footer {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #823F91;
    font-family: 'Inter-Medium';
    color: #FFFFFF;

    .footer__wrapper {
        box-sizing: border-box;
        padding: 31px 18px 23px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        max-width: 1428px;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 129px;

        .top {
            display: flex;
            justify-content: space-between;
            .top-left {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .logo {
                    width: 100%;
                    grid-area: logo;
                    margin-top: 5px;

                    .icon {
                        max-width: 208px;
                        img {
                            width: 100%;
                        }
                    }

                    .mobile {
                        display: none;
                    }
                }
                .navigation-bottom {
                    display: flex;
                    width: 100%;
                    align-items: end;
                    gap: 24px;
                    grid-area: nav;
                    text-decoration: none;
                    list-style-type: none;
            
                    .link {
                        font-family: 'CeraPro-Regular';
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 140%;
                        letter-spacing: 0;
                        a {
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }
            }
            
            .contacts {
                display: flex;
                flex-direction: column;
                gap: 26px;
                width: 100%;
                max-width: 258px;
                grid-area: contacts;
                .wrap {
                        display: flex;
                        flex-direction: column;
                        text-align: left;
                        .title-con {
                            font-family: 'Inter-Medium';
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 140%;
                            letter-spacing: 0;
                            text-transform: uppercase;
                            color: #FFFFFF80;
                            margin-bottom: 4px;
                        }

                        p {
                            font-family: 'Inter-Medium';
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 140%;
                            letter-spacing: 0;
                        }
                }
                .wrap-2 {
                        .icon-container {
                            display: flex;
                            align-items: center;
                            gap: 26px;

                            .icon {
                                cursor: pointer;
                            }
                        }
                }
            }
        }
        .bot {
            display: flex;
            align-items: center;
            justify-content: space-between;
            grid-area: bot;
            padding-top: 14px;
            border-top: 1px solid #E7E6EC1A;

            .download-con {
                display: flex;
                gap: 8px;
            }
            .creating {
                font-family: 'Inter-Regular';
                font-weight: 400;
                font-size: 12px;
                line-height: 140%;
                letter-spacing: 0;
            }
        }
    }
}

@media (max-width:915px) {
    .footer .footer__wrapper .top .top-left .navigation-bottom {
        flex-wrap: wrap;
        gap: 16px;
    }
    .footer .footer__wrapper .top .top-left {
        margin-right: 24px;
    }
}

@media (max-width:460px) {
    .footer .footer__wrapper .top .top-left .navigation-bottom {
        display: flex;
        flex-direction: column;
        align-items: start;
        align-self: start;
        max-width: 258px;
        margin-top: 54px;
    }
    .footer .footer__wrapper .top .contacts {
        align-self: start;
        margin-top: 49px;
    }
    .footer .footer__wrapper .top {
        flex-direction: column;
        
    }
    .footer .footer__wrapper .top .top-left .logo .mobile {
        display: flex;
        margin-top: 20px;
        gap: 8px;

        .icon {
            min-width: auto;
            max-width: 123.33px;

            img {
                width: 100%;
            }
        }
    }
    .footer .footer__wrapper .top .top-left .logo {
        align-self: center;
        max-width: 258px;

        .icon {
            display: flex;
            justify-self: center;
            min-width: 208px;
        }
    }
    .footer .footer__wrapper .top .top-left{
        margin-right: 0;
    }
    .footer .footer__wrapper .bot {
        justify-content: center;
    }
    .footer .footer__wrapper .bot .download-con {
        display: none;
    }
    .footer .footer__wrapper {
        gap:39px;
    }
}