header {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    background-color: #8D509B;
    z-index: 11;
    
    .wrapper-header {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 11px 22px 12px 18px;
        .navigation {
            display: flex;
            ul {
                display: flex;
                text-decoration: none;
                list-style-type: none;
                gap: 24px;
                color: #fff;
    
                li {
                    cursor: pointer ;
                    font-family: 'CeraPro-Regular';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 140%;
                    letter-spacing: 0;
                    
                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@media (max-width:725px) {
    header .wrapper-header .navigation {
        display: none;
    }
}