.main-p{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 1020px;
    background-color: #823F91;

    .wrapper-mobile-img {
        position: relative;
        display: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-height: 30%;
        .shadow-bot {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 38.5%;
            background: #823F91;
            background: linear-gradient(0deg, rgba(130, 63, 145, 1) 0%, rgba(130, 63, 145, 0.55) 47%, rgba(255, 255, 255, 0) 100%);
        }
        .mob-img {
            display: flex;
            align-items: center;
            width: 100%;
            max-height: clamp(255px, 55vw,555px);
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .text-container {
        user-select: none;
        display: flex;
        height: 100%;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-family: 'CeraPro-Bold';
        font-weight: 700;
        z-index: 10;

        h1 {
            width: 100%;
            max-width: 1150px;
            color: #fff;
            font-weight: 700;
            font-size: 90px;
            line-height: 110.00000000000001%;
            letter-spacing: 0%;
            text-transform: uppercase;
            margin-top: 24px;
        }
        p {
            color: #fff;
            font-weight: 700;
            font-size: 24px;
            line-height: 110.00000000000001%;
            letter-spacing: 0%;
            text-align: center;
            text-transform: uppercase;
        }
        .btn {
            cursor: pointer;
            font-family: 'CeraPro-Medium';
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: 2%;
            text-transform: uppercase;
            background-color: #fff;
            border: 0;
            border-radius: 100px;
            margin-top: 6px;
            padding: 10px 26px;
        }
    }

    .wrapper-absolute-img {
        position: absolute;
        display: flex;
        align-self: center;
        width: 100%;
        height: 100%;
        max-height: 726.6px;
        max-width: 1715.06px;
        z-index: 4;
    }
    .absolute-img-container {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        will-change: transform;
        transition: transform 0.1s ease-out;
        
        .icon {
            display: flex;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 16px;
            overflow: hidden;
            img {
                max-width: 100%;
            }
        }
    
        .icon1 {
            max-height: 290px;
            max-width: 290px;
            top: 1%;
            left: 16.63%;
            transform: rotate(-5deg);
        }
        .icon2 {
            max-height: 200px;
            max-width: 200px;
            // top: 79.68px;
            // right: 426.39px;
            top: 10.98%;
            right: 24.86%;
            transform: rotate(-5deg);
        }
        .icon3 {
            max-width: 276.5px;
            max-height: 170px;
            top: 0;
            right: 0;
            transform: rotate(5deg);
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        .icon4 {
            max-width: 275.27px;
            max-height: 275.27px;
            bottom: 0;
            left: 0;
            transform: rotate(5deg);
        }
        .icon5 {
            max-width: 330px;
            max-height: 210px;
            // bottom: 100.36px;
            // left: 548.81px;
            left: 31.2%;
            bottom: 15.9%;
            transform: rotate(-5deg);
            padding-bottom: 79px;
        }
        .icon6 {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
            max-width: 290px !important;
            max-height: 290px !important;
            right: 9%;
            bottom: 5%;
            transform: rotate(5deg);
            img {
                width: auto;
                height: 100%;
                max-width: none;
            }
        }
    }

    .line {
        position: absolute;
        min-width: 100%;
        overflow: hidden;
        left: 0;
        bottom: 13.2%;
        z-index: 1;
        svg {
            min-width: 100%;
            height: auto;
        }
    }
    .line2 {
        display: none;
        z-index: 1;
    }
}

.marquee-wrapper {
    overflow: hidden;
    width: 100%;
    background: transparent;
  }

  .marquee {
    display: flex;
    white-space: nowrap;
    font-size: 20px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: marquee;
    will-change: transform;
  }

  .marquee-item {
    display: inline-block;
    margin-right: 0.5rem; /* расстояние между фразой и точкой */
    font-size: 20px;
    color: #9d59aa;
    font-weight: bold;
    white-space: nowrap;
  }

  .dot {
    display: inline-block;
    color: #9d59aa;
    font-weight: bold;
    font-size: 1.2rem;
    user-select: none;
  }
  .dot::before {
    margin: 0 18px !important;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
@media (max-width:730px) {
    .marquee-item {
        font-size: 16px;
    }
    .marquee-wrapper {
        padding: 11px 0;
    }
}

.draw-line {
  stroke-dasharray: 4000;
  stroke-dashoffset: 4000;
  stroke: #9d59aa;
  animation: drawCycle 12s ease-in-out infinite;
  filter: blur(1px);
}


@keyframes drawCycle {
  0% {
    stroke-dashoffset: 4000;
    stroke: #9d59aa;
    opacity: 1;
  }
  40% {
    stroke-dashoffset: 0;
    stroke: #9d59aa;
    opacity: 1;
  }
  70% {
    stroke: white;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    stroke: white;
    opacity: 0;
  }
}

@media (max-width:1900px) {
    .main-p {
        .wrapper-absolute-img {
            padding: 0 7px;
        }
    }
}

@media (max-width:1746px) {
    .main-p .line1 {
        display: none;
    }

    .main-p .line2 {
        display: block;
    }
}

@media (max-width:1440px) {
    .main-p .line2 {
        bottom: 23.2%;
    }
    .main-p .wrapper-absolute-img .absolute-img-container .icon1 {
        grid-area:icon1;
        width:210px;
        height: 210px;
        top: 12.5%;
        left: 9.7%;
    }
    .main-p .wrapper-absolute-img .absolute-img-container .icon2 {
        grid-area:icon2;
        width:130px;
        height: 130px;        
        top: 24%;
        right: 27.6%;
    }
    .main-p .wrapper-absolute-img .absolute-img-container .icon3 {
        grid-area:icon3;
        width:250px;
        height: 150px;
        top: 9%;
        right: 0.5%;
    }
    .main-p .wrapper-absolute-img .absolute-img-container .icon4 {
        grid-area:icon4;
        width:130px;
        height: 130px;    
        bottom: 14%;
        left: 1%;
    }
    .main-p .wrapper-absolute-img .absolute-img-container .icon5 {
        grid-area:icon5;
        width:250px;
        height: 150px;
        left: 29.9%;
        bottom: 22.5%;
    }
    .main-p .wrapper-absolute-img .absolute-img-container .icon6 {
        grid-area:icon6;
        width:210px;
        height: 210px;
        bottom: 14%;
    }
}

@media (max-width:1440px) {
    .main-p .text-container h1 {
        font-size: clamp(37px,7vw,90px);
    }

    .main-p .text-container p {
        font-size: clamp(15px,2vw,24px);
    }
    .main-p .text-container .btn {
        font-size: clamp(13px,2vw,16px);
    }
}

@media (min-width:976px) {
    .main-p .wrapper-mobile-img {
        display: none !important;
    }
}

@media (max-width: 975px) {
    .main-p {
        height: auto;
        justify-content: space-between;
        min-height: clamp(812px,70vw,1020px);
    }
    .main-p .text-container {
        margin-bottom: 52px;
    }
    .main-p .line2 {
        display: none;
    }
    .main-p .text-container h1 {
        margin-top: 20px;   
    }
    .main-p .text-container .btn{ 
        margin-top: 17px;
    }
  .main-p .wrapper-absolute-img {
    position: relative;
    max-width: 800px;
    height: auto;
    padding-bottom: 38px;
  }
  .main-p .absolute-img-container {
    position: relative;
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:  
        'icon2 icon6 icon4'
        'icon1 icon5 icon3';
    gap: 7px 6px;
  }
  .main-p .wrapper-absolute-img .absolute-img-container .icon {
    position: initial;
    height: 100%;
    width: 100%;
    max-width: none !important;
    max-height: none !important;
    min-height: auto !important;
    min-width: auto !important;
    transform: none !important;
    padding: 0;
    aspect-ratio: 1.13 / 1; /* соответствие пропорциям 124.5 × 110 */
  }
  .main-p .absolute-img-container .icon img {
    width: 100% ;
    height: 100% ;
    object-fit: cover;
  }
  .main-p .wrapper-mobile-img {
    display: flex;
  }
}

@media (max-width: 375px) {
  .main-p .absolute-img-container .icon {
    height: 110px;
    aspect-ratio: auto;
  }

  .main-p .absolute-img-container .icon img {
    height: 100%;
    object-fit: cover;
  }
}