.popup {
  position: fixed;
  display: none;
  font-family: 'CeraPro-Regular';
  width: 600px;
  max-height: 90vh;
  background-color: white;
  padding: 32px clamp(16px, 5vw, 32px);
  border-radius: 22px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin: 50px auto;
  top: 0;
  overflow-y: auto;
  z-index: 100;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.popup::-webkit-scrollbar {
  display: none; /* Chrome, Safari и Opera */
}

.popup.show {
  display: block !important;
}

.wrapper0 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.popup h2 {
  font-family: 'CeraPro-Medium';
  font-weight: 500;
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 28px;
}
.message {
  font-family: 'CeraPro-Medium';
  font-weight: 500;
    font-size: 20px;
}
.how {
    min-height: 94px;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 16px;
  max-width: 32px;
  max-height: 32px;
  font-size: 32px;
  text-decoration: none;
  color: #82828C;
  cursor: pointer;
  
  img {
    width: 100%;
  }
}
label {
  display: block;
  font-size: 11px;
  margin-top: 8px;
  margin-bottom: 5px;
  color: #82828C;
}
input[type="text"], input[type="email"], input[type="tel"], textarea, select {
  width: 100%;
  padding: 10px;
  font-size: 17px;
  min-height: 52px;
  border: 1px solid #E1E3EA;
  border-radius: 8px !important;
  padding: 15px 14px;
  box-sizing: border-box;
  outline: none;
  color: #3A3839;
}
.row {
  display: flex;
  gap: 10px;

  label {
    margin-top: 0;
  }
}
.row .column {
  flex: 1;
}
.phone-group {
  display: flex;
  gap: 8px;
}
.phone-group {
  font-size: 17px;
  display: block;
  margin-bottom: 6px;
}
.iti__flag-container {
    user-select: none;
    pointer-events: none;
}
.intl-tel-input {
  width: 100%;
}
input[type="tel"] {
  width: 100%;
  padding: 15px 14px;
  font-size: 17px;
}

input[type="radio"],
input[type="checkbox"] {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  appearance: none;
  -webkit-appearance: none;
  width: 21px;
  height: 21px;
  border: 1px solid #823F91;
  border-radius: 4px;
  background-color: #fff;
  margin-right: 12px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
}

input[type="checkbox"] {
  border: 2px solid #E1E3EA;
  min-width: 22px;
  height: 22px;
}

input[type="radio"] {
  border-radius: 50%;
}

.agree-wrapper {
  display: flex;
  align-items: center;

  input {
    min-width:22px
  }
}

input[type="radio"]:checked::before {
  content: "";
  display: block;
  position: absolute;
  width: 14px !important;
  height: 14px !important;
  background-color: #823F91;
  border-radius: 50%;
}

input[type="checkbox"]:checked::before {
  content: "";
  background-image: url('../img/Icon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #823F91;
}

input[type="checkbox"]:checked::before,
input[type="radio"]:checked::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #823F91;
  border-radius: 50%;
}

input[type="checkbox"]:checked::before {
  width: 21px;
  height: 21px;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}
.radio-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
  label {
    display: flex;
    align-items: center;
    font-size: 17px;
    margin: 0;
    input {
      margin-right: 12px;
      width: 24px;
      height: 24px;
    }
  }
}

.wrapper1 .message {
  margin: 0;
}
.checkbox-group {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.checkbox-group label {
  display: flex;
  align-items: center;
  font-size: 17px;
  margin: 0;
}
.checkbox-group input {
  margin-right: 12px;
}
.submit-btn {
  background-color: #823F91;
  color: white;
  padding: 10px 0;
  width: 100%;
  max-width: 199px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 100px;
  width: 100%;
  margin-top: 28px;
  opacity: 0.3;
  pointer-events: none;
  user-select: none;
}

.submit-btn.active {
  opacity: 1;
  pointer-events: auto;
  user-select: auto;
}

@media (max-width:600px) {
  .popup {
    width: 100%;
    margin: 0;
    bottom: 0;
    border-radius: 22px 22px 0 0 ;
    bottom: 0;
    top: auto;
  }
  .popup h2 {
    font-size: clamp(26px, 5.5vw, 32px);
  }
}

@media (max-width:480px) {
  .row {
    flex-direction: column;
  }
  .phone-group .iti {
    width: 100%;
  }
  .submit-btn {
    max-width: 100%;
  }
}