@import './header';
@import './burger';
@import './main-p';
@import './marquee';
@import './block1';
@import './block2';
@import './block3';
@import './block4';
@import './block5';
@import './block6';
@import './block7';
@import './block8';
@import './footer';
@import './popup';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block1,
.block2,
.block3,
.block4,
.block5,
.block6,
.block7,
.block8 {
  opacity: 0;
  transform: translateY(10%);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: 'CeraPro-Medium';
    font-weight: 500;
    overflow: hidden;
    box-sizing: border-box;

    .app-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .wrapper {
        box-sizing: border-box;
        width: 100%;
        max-width: 1440px;
        padding: 0 18px;
    }
    .text {
        font-family: 'CeraPro-Regular';
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0;
        color: #000;
    }
}

@media (max-width:1070px) {
    .block1,
    .block2,
    .block3,
    .block4,
    .block5,
    .block6,
    .block7,
    .block8 {
      opacity: 1;
      transform: translateY(0);
    }
}


@font-face {
    font-family: 'CeraPro-Bold';
    src: url('../fonts/CeraPro-Bold.woff2');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'CeraPro-Medium';
    src: url('../fonts/CeraPro-Medium.woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'CeraPro-Regular';
    src: url('../fonts/CeraPro-Regular.woff2');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Inter-Regular';
    src: url('../fonts/Inter_18pt-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Inter-Medium';
    src: url('../fonts/Inter_18pt-Medium.ttf');
    font-style: normal;
    font-weight: 500;
}


@media (max-width:1370px) {
    .main .wrapper {
        padding: 0 16px;
    }
}